.distill-site-nav {
  font-family: 'Karla', sans-serif;
  /* color: #000;
  background-color: #44475a; */
  font-size: 15px;
  font-weight: 400;
}

.distill-site-header {
  font-family: 'Karla', sans-serif;
  /* color: #000;
  background-color: #44475a; */
  font-size: 15px;
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Karla');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

html,
body,
p {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  line-height: 1.2;
  font-size: 1em;
  font-style: normal;
}

code {
  font-family: 'Fira Code', sans-serif;
  font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Karla', sans-serif;
}

.distill-site-nav a {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 15px;
  /* color: #000; */
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #bd93f9;
}

.nav-dropdown-content a {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  /* color: #f8f8f2; */
}

.distill-site-header {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  /* background-color: #ffffff; */
}

/*
.distill-site-footer {
  background-color: #000;
  color: #f8f8f2;
}
*/

@media print {
  .distill-site-nav {
    display: none;
  }
}

details {
  background-color: hsla(60, 7%, 80%, 0.2);
  cursor: pointer;
  color: #2d2d2d;
  margin-bottom: 1vh;
  padding: 1em;
  border: none;
  text-align: left;
  outline: none;
}

.active,
details:hover {
  transition: max-height 0.2s ease-out;
  /* background-color: #acc2c2; */
}

details {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 4px;
}

details.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  float: right;
  font-family: 'Font Awesome 5 Free';
  content: '\f0fe';
}

details[open] summary::after {
  float: right;
  font-family: 'Font Awesome 5 Free';
  content: '\f146';
}

details h4 {
  margin: 0;
  /* color: #2d2d2d !important; */
  line-height: inherit;
}

d-article pre {
  font-size: 12px;
  /* color: black; */
  background: none;
  margin-top: 0;
  text-align: left;
  /* white-space: pre; */
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre > code.sourceCode > span {
  display: inline-block;
  line-height: 1;
}

/* Lightmode */
 d-article,
 d-appendix,
 body {
  color: #282a36;
  background-color: #f8f8f2;
}

d-title {
  color: #282a36;
}

d-article blockquote {
  color: #282a36;
}

d-byline {
  --heading-color:  #282a36;
  --body-color:     #282a36;
}

d-appendix {
  border-color: #282a36;
  --heading-color:   #282a36;
  --text-color:      #282a36;
}

d-appendix a {
  color: #282a36;
}

.darkmode .distill-site-header {
  --bkgd-color: #f8f8f2;
  --text-color: #282a36;
}

.darkmode .distill-site-footer {
  --bkgd-color: #f8f8f2;
  --text-color: #282a36;
}

d-article div.sourceCode,
code {
  background-color: #282a36;
}

d-article pre {
  color: #282a36;
}

code span {
  color: #282a36;
}

a {
  border-color: #282a36;
}

.posts-list .post-preview {
  border-color: #282a36;
}

a:hover {
  border-color: #bd93f9;
}

.categories li > * {
  color: #282a36;
}

.posts-list .dt-tags .dt-tag,
.dt-tags .dt-tag {
  color: #282a36;
  border-color: #282a36;
}

d-article .sourceCode {
  background-color: #f8f8f2;
}

details {
  color: #282a36;
}

.social_footer {
  color: #282a36;
}

/* Darkmode */
.darkmode {
  --title-color:     #f8f8f2;
  --header-color:    #f8f8f2;
  --body-color:      #f8f8f2;
  --aside-color:     #f8f8f2;
  --fig-cap-color:   #f8f8f2;
  background-color: #282a36;
  color: #f8f8f2;
}

.darkmode d-article,
.darkmode d-appendix,
.darkmode body {
  background-color: #282a36;
  color: #f8f8f2;
}

.darkmode d-title {
  color: #f8f8f2;
}

.darkmode d-article blockquote {
  color: #f8f8f2;
}

.darkmode d-byline {
  --heading-color:  #f8f8f2;
  --body-color:     #f8f8f2;
}

.darkmode d-appendix {
  border-color: #f8f8f2;
  --heading-color:   #f8f8f2;
  --text-color:      #f8f8f2;
}

.darkmode d-appendix a {
  color: #f8f8f2;
}

.darkmode .distill-site-header {
  --text-color: #f8f8f2;
  --bkgd-color: #282a36;
}

.darkmode .distill-site-footer {
  --text-color: #f8f8f2;
  --bkgd-color: #282a36;
}

.darkmode d-article div.sourceCode,
.darkmode code {
  background-color: #282a36;
}

.darkmode d-article pre {
  color: #f8f8f2;
}

.darkmode code span {
  color: #f8f8f2;
}

.darkmode a {
  border-color: #f8f8f2;
}

.darkmode .posts-list .post-preview {
  border-color: #f8f8f2;
}

.darkmode a:hover {
  border-color: #bd93f9;
}

.darkmode .categories li > * {
  color: #f8f8f2;
}

.darkmode .posts-list .dt-tags .dt-tag,
.darkmode .dt-tags .dt-tag {
  color: #f8f8f2;
  border-color: #f8f8f2;
}

.darkmode d-article .sourceCode {
  background-color: #f8f8f2;
}

.darkmode details {
  color: #f8f8f2;
}

.darkmode .social_footer {
  color: #f8f8f2;
}

/* dark extra */
.darkmode .d-contents nav h3,
.darkmode d-byline a,
.darkmode d-byline h3,
.darkmode d-article li {
  color: #f8f8f2
}

.darkmode pre.sourceCode.r {
  color: #282a36;
}


.darkmode d-article .sourceCode {
  background-color: #282a36;
}






